<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div th:replace="base :: nav"></div>
    <h1>Login Page</h1>
    <div th:if="${param.error}">
        Invalid username or password
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label>User name: <input type="text" name="username" /></label>
        </div>
        <div>
            <label>Password: <input type="password" name="password"/></label>
        </div>
        <div><input type="submit" value="Sign in"/></div>
    </form>


</body>
</html>