<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Message</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->

</head>
<body id="form-body">
<div th:replace="base :: nav"></div>
<div class="container">
    <div class="row">
        <h1 id="msg_title">Add Message</h1>
        <div id="form-content">

            <form action="#" th:action="@{/process}" th:object="${message}" method="post">
                <input type ="hidden" th:field="*{id}"/>
                <!--style="min-width:50vw; margin-top:10rem-->
                <div class="col" >
                    <div class="row">
                        <h2 class="col-3">Title:</h2>
                        <input class="col-7" type="text" th:field="*{title}" rows="3"/>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                    <div class="row">
                        <h2 class="col-3">Content:</h2>
                        <input class="col-7" type="text" th:field="*{content}" rows="4"></input>
                        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                    </div>
                    <div class="row">
                        <h2 class="col-3">Name:</h2>
                        <input class="col-7" type="text" th:field="*{postedBy}" />
                        <span th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"></span>
                    </div>
                    <input style="width:85%" type="submit" class="btn btn-info btn-dark btn-block" value="Submit"/>
                </div>



                <!--<div class="row">-->
                <!--<div class ="col">-->
                <!--<h2>Title:</h2>-->
                <!--<h2>Content:</h2>-->
                <!--<h2>Name:</h2>-->
                <!--</div>-->
                <!--<div class="col-9">-->
                <!--<input type="text" th:field="*{title}" rows="3"/>-->
                <!--<textarea type="text" th:field="*{content}" rows="4"></textarea>-->
                <!--<input type="text" th:field="*{postedBy}" />-->

                <!--</div>-->
                <!--<div class="col">-->
                <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
                <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
                <!--<span th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<input type="submit" class="btn btn-info btn-dark btn-block" value="Submit"/>-->





                <!--Post date/time: <p type="date" th:text="*{postedDate}"></p>-->
                <!--<div class = "row justify-content-between">-->
                <!--<h2>Title:</h2> <input type="text" th:field="*{title}" rows="3"/>-->
                <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>-->
                <!--</div>-->

                <!--<div class="row justify-content-between">-->
                <!--<h2>Content:</h2> <textarea type="text" th:field="*{content}" rows="4"></textarea>-->
                <!--<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br/>-->
                <!--</div>-->

                <!--<div class="row justify-content-between">-->
                <!--<h2>Name:</h2> <input type="text" th:field="*{postedBy}" />-->
                <!--<span th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"></span>-->
                <!--&lt;!&ndash;<span th:if="${#fields.hasErrors('postedBy'}" th:errors="*{postedBy}"></span>&ndash;&gt;-->
                <!--</div>-->

                <!--<input type="submit" class="btn btn-info btn-dark btn-block" value="Submit"/>-->

            </form>
        </div>
    </div>
</div>
</body>
</html>